body{
   background-image: url("../images/hallway.jpg");
   font-family: 'Gloria Hallelujah', cursive;
   margin: 40px;

}

.card-img-top{
  height: 180px;
  width: 180px;
}

.jumbotron{
  opacity: .7;
  height: 200px;
}

.available-character{
display: inline-block;
  background-color: darkgrey;
  color: purple;
  font-size: 25px;
}

.enemy-characters{
  display: inline-block;
    background-color: darkgrey;
    color: purple;
    font-size: 25px;
}

h2, span{
  background-color: darkgrey;
  color: purple;
  font-size: 25px;
}

#attack-button{
background-color: red;
color: black;
